@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.Gbuble {
      position: absolute;
      left: -25%;
      top: 45%;
}
.Bbuble {
  position: absolute;
  right: 0%;
}

.blogBigImg {
  margin: 40px;
}
.blog-home-icons {
  box-sizing: border-box;
  width: 3.5%;
  margin: 4% 2.5% 0;
}
.half-square-2-m {
  width: 9.95%;
  position: relative;
  right: 2.2rem;
  top: 2.2rem;
}
.half-square-2-r {
  width: 12.95%;
  position: relative;
  right: 2rem;
  top: 2rem;
}
.half-square-2-e {
  width: 6.5%;
  position: relative;
  right: 2.2rem;
  top: 2.2rem;
}
.half-square-2-s {
  width: 4.5%;
  position: relative;
  right: 1.2rem;
  top: 4.5rem;
}
.aboveResent {
  width: 200%;
}

.main-div {
  overflow: hidden; 
  padding-top: 0;
}
.main-div h1 {
  color: #000;
  font-size: 70px;
  margin-bottom: 5rem;
  font-weight: 300;  
}
.main-div h2 {
  color: black;
  margin-bottom: 5rem;
  font-size: 53px;
  font-weight: 300;
}