.Footer {
    padding:"5rem 5rem 0 5rem";
    text-align: 'center';
}
.headers {
    font-size: 46px;
    color: #477DEE;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}
.Footer-row p {
    font-size: 25px;
    font-weight: 420;
    line-height: 4rem;
    color: #676767;
}
.align {
    text-align: left;
  
}
.social {
    margin-top: 11rem;
    
}
.back-to-top-button{
    height: 100px;
    width: 100px;
    background-color: #477DEE;
    padding: 0;
    float: right;
}
.back-to-top-button img{
    height: 100%;
    width: 100%;
    margin: 0;
}
p.copyright {
    font-size: 25px;
    margin-top: 1rem;
    line-height: 1.8;
    color: black;
    margin-left: 1.5rem;
    font-weight: lighter;
}
