.colTwo {
    line-height : 2.2;
     margin-top: 2rem;
     float: left;
}
h2 {
    font-size: 46px;
    color: #477DEE;
}
.pb-5{
  border: none;
}
.colTwo p {
    font-size: 32px;
    color: black;
    font-weight: 500;
}
